#container{
  max-height: 1080px;
  max-width: 1920px;
  min-height: 896px;
  min-width: 414px;
  left: 0px;
  top: 0px;
  background: rgba(187, 153, 221, 0.08);
}
#container:root{
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

#conteudo{
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 414px;
  height: 896px;

  background: #FFFFFF;
}

#elipseFora{
  box-sizing: border-box;

  position: absolute;
  width: 213px;
  height: 213px;
  left: 100px;
  top: 120px;

  border: 2px solid #BB99DD;
  border-radius: 50%;
}

#elipseDentro{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 107px;
  top: 126px;
  border-radius: 50%;

}
li{
  list-style-type: none;
}

.retangulos{
  
  box-sizing: border-box;

  position: absolute;

  width: 326px;
  height: 49px;

  border: 2px solid #BB99DD;
  border-radius: 4px;
}

a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #BB99DD;
}

.links{

  position: absolute;
  width: 326px;
  height: 24px;

}

.icones{

  position: absolute;
  width: 24px;
  height: 24px;

}

#instagram{
  position: absolute;
  width: 99px;
  height: 24px;
  left: 157px;
  top: 348px;

  text-transform: none;
  font-weight: 300;

}

#retangulo1{
  
  
  left: 44px;
  top: 405px;

  
}
#twitter{
  
  
  left: 0px;
  top: 12.5px;

}

#retangulo2{

  left: 44px;
  top: 470px;
  
}
#twitch{
  
  left: 0px;
  top: 12.5px;

}

#retangulo3{
  
  left: 44px;
  top: 535px;

}
#linkedin{
  
  left: 0px;
  top: 12.5px;

}

#retangulo4{
  
  left: 44px;
  top: 600px;

}
#github{
  
  left: 0px;
  top: 12.5px;

}

#iconesRedesSociais{
  position: absolute;
  width: 236px;
  height: 24px;
  left: 89px;
  top: 717px;

}
#iconeTwitter{
  
  left: 0;
  top: 0;
}

#iconeTwitch{
  
  left: 53px;
  top: 0;
}

#iconeInstagram{
  
  left: 106px;
  top: 0;

}

#iconeLinkedin{
 
  left: 159px;
  top: 0;

}

#iconeGithub{
  
  left: 212px;
  top: 0;
}


